body {
    background-color: #333333;
}

* {
    box-sizing: border-box;
    color: #c1c1c1;
    font-family: 'Yantramanav', sans-serif;
}

img {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

.wrapper{
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    border-color:#edf100;
    border-width: 8px;
    border-style: solid;
    border-radius: 8px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box{
    min-height: 80px;
    min-width: 100px;
    box-sizing: border-box;
}

.counter{
    width: 25%;
    flex-grow: 1;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

.score{
    width: 50%;
    flex-grow: 1;
    border-bottom-style: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

.timer{
    width: 25%;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

.question{
    width: 100%;
}

.answer_box{
    width: 100%;
    border-top-style: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

.submit_button{
    background-color: steelblue;
    width: 50%;
    border-top-style: solid;
    border-color: #c1c1c1;
    border-width: 2px;
}

h3{
    font-size: 28px;
    text-align: center;
    margin: 42px 0;
}

#skor{
    color: #edf100;
}

h2{
    text-align: center;
}

.question h2{
    font-size: 35px;
    margin: 30px 0;
}

#submit_answer{
    width: 100%;
    height: 100%;
    display: flex;
}

#submit_answer input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #edf100;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 594px;
    float: left;
    height: 75px;
    color: #333333;
    flex-grow: 1;
}
#submit_answer button{
    border: 1px solid #edf100;
    border-left: 3px solid #333333;
    background: #edf100;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    margin: 10px 0;
    border-left: 0;
    color:#333333;
    height: 75px;
}

#submit_answer button:hover{
    background-color: #c1c1c1;
}
